@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Prata&display=swap');
.about{
    width: 100%;
    height: 100%;
}
.about .container{
    position: relative;
    height: 100%;
}
.about .row{
    position: absolute;
    top: 20%;
    left: 0;
    padding: 10px 0;
    width: 100%;
    justify-self: anchor-center;
}
.about .about-info{
    padding: 80px 0;
}
.about .about-info h6{
    font-size: 1.5rem;
    font-weight: 500;
    color: #ee5e16;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 10px 0;
}
.about .about-info h4{
    font-size: 3rem;
    font-weight: 700;
    color: #fff;
    margin: 35px 0;
    text-transform: uppercase;
    font-family: 'Prata', serif;
}
.about .about-info h4 span{
    color: #EE5E16;
}
.about .about-info .animation{
    height: 100px;
    width: 100%;
}
.about .about-info h3{
    font-size: 4rem;
    font-weight: 400;
    color: #EE5E16;
    margin-bottom: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
    position: relative;
}
.about .about-info h3::before{
    content: "";
    position: absolute;
    color: #EE5E16;
    animation-name: words;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    font-family: 'Bad Script', cursive;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}
@keyframes words {
    2%{
        content: "F";
    }
    4%{
        content: "Fr";
    }
    6%{
        content: "Fro"
    }
    8%{
        content: "Fron"
    }
    10%{
        content: "Front"
    }
    12%{
        content: "Front-e"
    }
    14%{
        content: "Front-en"
    }
    16%{
        content: "Front-end"
    }
    18%{
        content: "Front-end"
    }
    20%{
        content: "Front-en"
    }
    22%{
        content: "Front-e"
    }
    24%{
        content: "Front"
    }
    26%{
        content: "Fron"
    }
    28%{
        content: "Fro"
    }
    30%{
        content: "Fr"
    }
    32%{
        content: "F"
    }
    34%{
        content: ""
    }
    36%{
        content: "B";
    }
    38%{
        content: "Ba";
    }
    40%{
        content: "Bac";
    }
    42%{
        content: "Back";
    }
    44%{
        content: "Back-e";
    }
    46%{
        content: "Back-en";
    }
    48%{
        content: "Back-end";
    }
    50%{
        content: "Back-end";
    }
    52%{
        content: "Back-en";
    }
    54%{
        content: "Back-e";
    }
    56%{
        content: "Back";
    }
    58%{
        content: "Bac";
    }
    60%{
        content: "Ba";
    }
    62%{
        content: "B";
    }
    64%{
        content: ""
    }
    66%{
        content: "F";
    }
    68%{
        content: "Fu";
    }
    70%{
        content: "Ful";
    }
    72%{
        content: "Full";
    }
    74%{
        content: "Full-s";
    }
    76%{
        content: "Full-st";
    }
    78%{
        content: "Full-sta";
    }
    80%{
        content: "Full-stac";
    }
    82%{
        content: "Full-stack";
    }
    84%{
        content: "Full-stack";
    }
    86%{
        content: "Full-sta";
    }
    88%{
        content: "Full-st";
    }
    90%{
        content: "Full-s";
    }
    92%{
        content: "Full";
    }
    94%{
        content: "Ful";
    }
    96%{
        content: "Fu";
    }
    98%{
        content: "F"
    }
    100%{
        content: "";
    }
}
.about .about-info .about-me{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 30px;
}
.about .about-info .about-me a{
    position: relative;
    color: #EE5E16;
    border: none;
    outline: 1px solid #EE5E16;
    padding: 10px 30px;
    font-size: clamp(0.8rem,1.1rem,1.5rem);
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: 2px;
    cursor: pointer;
    font-family: 'Prata', serif;
    overflow: hidden;
    text-decoration: none;
    z-index: 2;
}
.about .about-info .about-me a:hover{
    color: #fff;
    transition: all .8s ease-in-out, color .5s ease-in-out;
    box-shadow: 0 0.5em 0.5em -0.4em #EE5E16;
    transform: translateY(-0.25em);
}
.about .about-info .about-me a:active{
    transform: scale(0.8);
    transition: transform .01s ease-in-out;
}
.about .about-img{
    margin: auto;
    width: 80%;
    height: 80%;
    background-color: #EE5E16;
    border-radius:70% 50% 40% 80%;
    border: 5px solid #EE5E16;
    box-shadow:inset 0 0 0 20px rgb(255 255 255 / 30%) ;
    overflow: hidden;
    animation: border-radius 8s ease-in-out infinite 1s;

}
@keyframes border-radius {
    0%{
        border-radius: 70% 50% 40% 80%/70% 40% 80% 50%;
    }
    50%{
        border-radius: 40% 70% 80% 50%/60% 70% 40% 70%;
    }
    100%{
        border-radius: 70% 50% 40% 80%/70% 40% 80% 50%;
    }
}
.about .about-img img{
    margin-left: 80px;
}
@media screen and (max-width: 770px) {
    .about .about-img{
        display: none;
    }
    .about .about-info{
        padding: 0;
        text-align: center;
    }
    .about .about-info .about-me{
        justify-content: center;
    }
}
