.hero {
    width: 100%;
    position: relative;
    background-color: #1e1e1e;
}
.hero .background{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.hero .backphoto{
    width: 100%;
    height: 35%;
    position: absolute;
    bottom: 0;
    left: 0;
}
.hero .backphoto .Mountains{
    width: 100%;
    height: 100%;
    background:url(../../IMG/backphoto\ \(1\).png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0%;
    animation-name: backphoto;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
@keyframes backphoto {
    0%{
        background-position: 0%;
    }
    100%{
        background-position: 100%;
    }
}