.hero {
    width: 100%;
    position: relative;
    background-color: #1e1e1e;
}
.hero .background{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
