footer{
    background-color: #1e1e1e;
    width: 100%;
    padding: 20px 0;
    text-align: center;
    color: #fff;
}
hr{
    width: 100%;
    height: 2px;
    background-color: #EE5E16;
}
footer h3{
    font-size: clamp(1.2rem,1.8vw,2rem);
    font-family: 'Prata', serif;
    font-weight: 500;
}
footer h3 span{
    color: #EE5E16;
    font-weight: bolder;
    letter-spacing: 1px;
    font-family: 'Bad Script', cursive;
    text-transform: uppercase;
    font-size: clamp(1rem,1.5vw,2rem);
}
